<template name="App_footer">
  <footer class="row jumbotron">
    <div class="col-md-2">
      <img src="img/apple.png" width="40px" />
    </div>
    <div class="col-md-7">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Documentazione</a></li>
        <li><a href="#">Contatti</a></li>
        <li><a href="#">Arol</a></li>
        <li><a href="#">FT System</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <address>
          <strong>Arol S.p.A.</strong><br>
          viale Italia, 193 <br>
          15043 Canelli <br>
          <abbr title="Telefono">Tel:</abbr> (+39)0141-820500
      </address>
    </div>
  </footer>
</template>
